<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row">
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>
                <div id="admin-content">
                    <form class="admin-form" method="post"
                          th th:action="@{/adminPage/users/{id}(id=${userUpdateDto.id})}" th:method="post" th:object="${userUpdateDto}">
                        <ul class="global-errors" th:if="${#fields.hasErrors('global')}">
                            <li class="text-danger" th:each="err : ${#fields.errors('global')}" th:text="${err}">
                                Input is incorrect
                            </li>
                        </ul>
                        <div class="form-group">
                            <label for="editedUserName">Name</label>
                            <input class="form-control" id="editedUserName" th:field="*{name}" type="text">
                            <p class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
                        </div>
                        <div class="form-group">
                            <label for="editedUserSurname">Surname</label>
                            <input class="form-control" id="editedUserSurname" th:field="*{surname}" type="text">
                            <p class="text-danger" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}"></p>
                        </div>
                        <div class="form-group">
                            <label for="editedUserUsername">Username</label>
                            <input class="form-control" id="editedUserUsername" th:field="*{username}" type="text">
                            <p class="text-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
                        </div>
                        <div class="form-group">
                            <label for="editedUserEmail">Email</label>
                            <input class="form-control" id="editedUserEmail" th:field="*{email}" type="text">
                            <span class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
                        </div>

                        <div class="form-group">
                            <label for="editedUserRoles">Roles</label>
                            <div>
                                <p th:each="role,rowStat : ${allRoles}">
                                    <input id="editedUserRoles" th:field="*{roles[__${rowStat.index}__].id}"
                                           th:value="${role.id}" type="checkbox"/>
                                    <label th:text="${role.name}">Role</label>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editUserEnabled">Enabled</label>
                            <div>
                                <input id="editUserEnabled" th:field="*{enabled}" th:value="*{enabled}" type="checkbox">
                                Enabled
                                </input>
                            </div>
                        </div>
                        <a class="btn btn-dark" th:href="@{/adminPage/users}">Cancel</a>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>