<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div id="admin-sidebar" th:fragment="admin-sidebar">
    <aside id="admin-nav">
        <nav class="navbar navbar-dark bg-dark">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/adminPage/users" th:href="@{/adminPage/users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminPage/roles" th:href="@{/adminPage/roles}">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Courses</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
</body>
</html>