<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="delete-user-modal" th:fragment="delete-user-modal">
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal" id="deleteModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="user-id-to-delete" type="hidden"/>
                    <input id="row-to-delete" type="hidden"/>
                    Are you sure you want to delete this user?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-dark" data-dismiss="modal" style="color: #ffffff;"
                       type="button">
                        Cancel
                    </a>
                    <a class="btn btn-danger" onclick="deleteEntity('user')"
                       style="text-decoration: none;  color: #ffffff;"
                       type="button">Delete
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>