<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>

<footer class="main-footer" th:fragment="footer">
    <div>
        <div>
            <footer class="main-footer">
                <div class="col-md-4" style="float:left;"> © 2021-2022 All rights reserved.</div>
                <div class="col-md-4" style="float:left;text-align:center;"><img alt="Proudly Made In India"
                                                                                 class="img-fluid"
                                                                                 height="40"
                                                                                 th:src="@{/images/flag.png}"
                                                                                 width="50">
                    &nbsp; Proudly Made In India
                </div>
                <div class="float-right d-none d-sm-inline-block">
                    <!--<img class="img-fluid" th:src="@{/images/alliedlogo.jpeg}"  alt="Photo" width="60" height="60"> -->
                    Designed
                    & Developed by <img alt="Allied GlobeTech" class="img-fluid" height="100" th:src="@{/images/2.jpg}"
                                        width="100">
                </div>
            </footer>
        </div>
    </div>

</footer>


</body>

</html>