<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row">
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>

                <div id="admin-content">
                    <form class="admin-form" method="post"
                          th:action="@{/adminPage/roles/{id}(id=${role.id})}" th:method="post" th:object="${role}">
                        <div class="form-group">
                            <label for="editRoleName">Name</label>
                            <input class="form-control" id="editRoleName" th:field="*{name}" type="text">
                            <p class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>

                        </div>
                        <a class="btn btn-dark" th:href="@{/adminPage/roles}">Cancel</a>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>