<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>


<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row">
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>

                <div id="admin-content">
                    <div class="alert alert-success alert-dismissible fade show" role="alert"
                         th:if="${roleHasBeenSaved}">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Well done!</strong> Role has been saved!!!
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert"
                         th:if="${roleHasBeenUpdated}">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Well done!</strong> Role has been updated!!!
                    </div>
                    <table class="table table-striped table-responsive admin-table">
                        <thead class="thead">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="role : ${roles}">
                            <td th:text="${role.id}"> >1</td>
                            <td th:text="${role.name}">Role Name</td>
                            <td><a class="edit-btn"
                                   data-placement="right" data-toggle="tooltip"
                                   style="text-decoration: none; color: blue;" th:href="@{/adminPage/roles/{id}(id=${role.id})}" title="Edit role">
                                <i class="fa fa-edit"></i>
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#" th:href="@{/adminPage/roles/newRole}">
                        <button class="btn btn-primary" type="button">New Role</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/jsScripts :: scripts"></div>


</body>
</html>