<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>


<body>

<!--Navbar-->
<nav th:replace="fragments/header :: nav"></nav>

<div class="container" style="padding-bottom:25px;">
    <div class="row">
        <div class="card col-6 mx-auto" style="width: 20rem; margin-top: 80px;">
            <div class="card-body">
                <h4 class="card-title">Registration form:</h4>
                <!--Form-->
                <form action="register" method="post" th:action="@{/submit-registration}" th:method="post"
                      th:object="${userDto}">
                    <ul class="global-errors" th:if="${#fields.hasErrors('global')}">
                        <li class="text-danger" th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is
                            incorrect
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input class="form-control" id="name" placeholder="Enter name" th:field="*{name}" type="text">
                        <p class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="Surname">Surname</label>
                        <input class="form-control" id="surname" placeholder="Enter surname" th:field="*{surname}"
                               type="text">
                        <p class="text-danger" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input class="form-control" id="username" placeholder="Enter username" th:field="*{username}"
                               type="text">
                        <p class="text-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email address</label>
                        <input aria-describedby="emailHelp" class="form-control" id="email" placeholder="Enter email" th:field="*{email}"
                               th:type="email" type="email">
                        <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone
                            else.</small>
                        <!--<span class="text-danger"  th:text="${alreadyRegisteredMessage}"></span>-->
                        <span class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password" th:for="password">Password</label>
                        <input class="form-control" id="password" placeholder="Password" th:field="*{password}"
                               type="password">
                        <p class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="matchingPassword" th:for="matchingPassword">Confirm Password</label>
                        <input class="form-control" id="matchingPassword" placeholder="Password" th:field="*{matchingPassword}"
                               type="password">
                        <p class="text-danger" th:errors="*{matchingPassword}"
                           th:if="${#fields.hasErrors('matchingPassword')}"></p>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                <p>Already have an account?<a href="/login.html">Click here to login</a></p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>